body{
    display: flex;
    background-color: rgb(110, 0, 228);
    height: 100vh;
}

h1{
    text-align: center;
    color: rgb(86, 13, 176);
}

.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(185, 113, 248, 0.904);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 30px;
}

.form input{
    padding: 10px;
    border: 1px solid #7548ef;
    border-radius: 5px;
    font-size: 16px;
}